@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Lobster&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* @font-face{
  font-family: 'Lobster', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
}

@font-face{
  font-family: 'Lobster', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
} */

html,
body,
#root {
  font-family:  'Caveat', cursive;
  background-color: var(--TotemPole);
  color: #dcdbe1;
}



.reset{
  margin: 0 ;
  padding: 0;
}

:root{
  --BalticSea : #1F1E23;
  --TotemPole : #A40807;
  --Ronchi : #F0C659;
  --SmokeGray : #dcdbe1;
}

.App {
  border-radius: 10px;
  background-color: var(--BalticSea);
  /* width: 100%px; */
  height: auto;
  margin: 150px auto;
  padding: 2px;
  /* display: grid; */
  /* grid-template-rows: auto auto; */
}

.menu-title{
  margin: 30px 0px ;
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: 700;
  
}

.menu-list{
  display: flex;
}

.menu-list-button{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 30%;
}

.menu-list-button .btn-light{
  background-color: var(--SmokeGray);
  border-color: var(--SmokeGray);
}
.menu-list-button .button{
  margin: 0 2px;
  padding: 0;

  width: 30px;
  height: 30px;
}

.menu-list-detail{
  word-wrap: break-word;
  width: 70%;
}
.menu-list-detail p{
  margin: 0;
  font-weight: 600;
  font-family: 'Caveat', cursive;
}


.list-order p
{
  font-size: 20px;
  font-weight: 600;
  margin: 0;
} 
.list-order h2{
  margin: 0;
}

